<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cad.cadproject.mapper.TestMapper">

    <!-- 기존 테스트용 -->
    <select id="selectTest" resultType="string">
        SELECT 'React-db 연결 입니다' AS MSG FROM DUAL
    </select>

    <!-- TestDb 테이블 조회 -->
    <select id="selectTest2" resultType="map">
        SELECT TestDescNo, TestDesc
        FROM TestDb
    </select>


</mapper>
